.sidebar{
    height: 100vh;
    overflow: auto;
    background-color:#0e0e0e;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a{
    padding: 5px;
    /* background-color: #d5d3d30c; */
    margin-top: 15px;
    border-radius: 5px;
    display: block;
    color: #e1e1e1;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover{
    background-color: #8b8d8f16;
    cursor: pointer;

}
.sidebar ul li a i{
    font-size: 1.5rem;
    color: #5d2cff !important;
}

.dashboard-top{
    min-height: 150px;
    /* background: linear-gradient(45deg, #200124bd, #190001); */
    background-color: #1d1d1d;
    border-radius: 10px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 3px;


}
.g-border{
    background: linear-gradient(45deg, #c103da, #f1171a);
    padding: 3px;
    border-radius: 10px;
}
.library{
    min-height: 150px;
    /* background: url(https://static.vecteezy.com/system/resources/previews/026/275/336/non_2x/back-to-school-seamless-pattern-in-doodle-style-hand-drawn-school-supplies-stationery-on-dark-blue-background-vector.jpg) no-repeat center;
    background-size: cover; */
    border-radius: 20px;
}
.progressSkill{
    height: 150px !important;
}
/* .progress{
    filter: blur(2px);
} */
.email{
    word-break: break-all;
}
.dashboard{
    /* background: url(https://media.geeksforgeeks.org/img-practice/prod/courses/1/Web/Other/Course-Page-Course-Mobile-Background-Dark%201_1703843808.png) no-repeat center;
    background-size: cover; */
    height: 100vh;
    overflow: auto;
}
.card1{
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 40px !important;
    background-color: #fff;
}
.workshop-card{
    background-color: #7367f0;
   word-break: break-all;

}
.workshop-card h1{
   word-break: break-all;
}
.speaker img{
    width: 50px;
    border-radius: 100px;
}


.test-container{
    background-color: #ffffff;
    height: 100vh;
    overflow: auto;
}
.main-mcq{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.q-option{
    margin-bottom: 20px;
}
.library{
    background-color: #F8FFD2;
}
.progress{
    background-color: #FFEDC6 !important;
}
.card1{
    position: relative;
}
.over{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    flex-direction: column;
    text-align: center;

}
.over .bi-lock{
    color: #7367f0;
    font-size: 6rem;
    padding: 10px;
}

