:root{
  --primary-color:#10fbfb;
  --primary-color01:#ff996327;
  --primary-border:#ef5b0c63;
  --secondary-color:#000;
  --black:#ffffff;
}

.App{
  background-color:var(--black) ;
}
.text-main{
  color: var(--primary-border);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2a2a2a3;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color01);
}