:root{
  --primary-color:#10fbfb;
  --primary-color01:#ff996327;
  --primary-border:#ef5b0c63;
  --secondary-color:#000;
  --black:#ffffff;
}
*{
  letter-spacing: 1.1px;
}

.App{
  background-color:var(--black) ;
}
.text-main{
  color: var(--primary-border);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2a2a2a3;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color01);
}

.app-right, .app-left{
  height: 90vh;
  overflow: auto;
}
.event-tab ul li::marker{
  content: '✅ ';
}
.event-tab{
  min-height: 300px;
  border-radius: 10px;
}
ul li{
  margin-bottom: 10px;

}
.users-event{
  position: sticky;
  top: 0;
}
